$black: #070320;
$grayDark: #454452;
$grayMid: #9D9CA7;
$gray: #B2B1B7;
$grayLight: #EDEDED;
$bgColor: #F9F8FE;

$blue: #5D84CB;
$violetLight: #E9E7F9;
$blue100: #f9f8fe;
$blue300: #e8e5ff;

$yellow900: #edce5f;
$yellow: #F9F2CE;

$red900: #e09884;
$red100: #f8d6cd;

@mixin back-pos {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
